.rootContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.outletContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 108px);
  padding-top: 68px;
}

.footerFixed {
  background-color: #d0d8e5;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 2rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footerFixed .appVersion {
  margin-left: 20px;
}
