/* Login.css */
.login-form {
    
    margin-top: 5%;
    margin-left: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    width: 200px;
  }

  #icon {
    margin-left: 42%;
    margin-top: 5%;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
  }
  
  .login-form button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  